TRANSCRIBE_API_KEY=your-transcribe-api-key-from-groq

TRANSCRIBE_BASE-URL=https://api-groq.com/openai/v1

TRANSCRIBE_MODEL=whisper-large-v3

ANALYZE_API_KEY=your-analyze-api-key-from-groq

ANALYZE_BASE_URL=https://api.groq.com/openai/v1

ANALYZE_MODEL=openai/gpt-oss-120b

AUTH_USERS=username:password
